<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tabs/home"></ion-back-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-card-header class="header"> 
      <div> 
        <ion-card-subtitle class="judul">Store</ion-card-subtitle> 
      </div> 
    </ion-card-header> 
   
    <ion-card-content> 
      <div class="body"> 
        <div class="image"> 
          <img src="../../../../assets/image/ayampnyt.jpeg" alt=""> 
        </div> 
        <div class="teks"> 
          <div> 
            <span>Ayam Penyet</span> 
          </div> 
          <div> 
            <span> Rp. 12000</span> 
          </div> 
        </div> 
      </div> 
    </ion-card-content> 
    <ion-button expand="block" fill="primary" shape="round" routerLink="/detailproduct">
      Check
    </ion-button>
  </ion-card>
</ion-content>
